<header>
<div class="transbox"></div>
	<a class="home" href="brand.html">
        <img class="logo" alt="logo" src="images/Capture.PNG" width="300px" height="200px"/>
	</a>
	<h1>Limsha Pizza</h1>	 
	<div class = "topnav">
            <a href="http://students.cpcc.edu/~enuramo0/web250/project/brand.html">brand
			<a href="http://students.cpcc.edu/~enuramo0/web250/introduction.html">introduction</a>
			<a href="http://students.cpcc.edu/~enuramo0/web250/contract.html">contract </a>
			
		        
	</div><br>	 

</header>